# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled specific files for Advanced Linux Programming Sample Code
linux/advanced-linux-programming/ALP-listings/appendix-a/calculator
linux/advanced-linux-programming/ALP-listings/appendix-a/hello
linux/advanced-linux-programming/ALP-listings/appendix-a/malloc-use
linux/advanced-linux-programming/ALP-listings/appendix-b/create-file
linux/advanced-linux-programming/ALP-listings/appendix-b/hexdump
linux/advanced-linux-programming/ALP-listings/appendix-b/listdir
linux/advanced-linux-programming/ALP-listings/appendix-b/lseek-huge
linux/advanced-linux-programming/ALP-listings/appendix-b/timestamp
linux/advanced-linux-programming/ALP-listings/appendix-b/write-args
linux/advanced-linux-programming/ALP-listings/chapter-1/main
linux/advanced-linux-programming/ALP-listings/chapter-10/pam
linux/advanced-linux-programming/ALP-listings/chapter-10/setuid-test
linux/advanced-linux-programming/ALP-listings/chapter-10/simpleid
linux/advanced-linux-programming/ALP-listings/chapter-10/stat-perm
linux/advanced-linux-programming/ALP-listings/chapter-11/server
linux/advanced-linux-programming/ALP-listings/chapter-2/app
linux/advanced-linux-programming/ALP-listings/chapter-2/arglist
linux/advanced-linux-programming/ALP-listings/chapter-2/client
linux/advanced-linux-programming/ALP-listings/chapter-2/getopt_long
linux/advanced-linux-programming/ALP-listings/chapter-2/print-env
linux/advanced-linux-programming/ALP-listings/chapter-3/fork
linux/advanced-linux-programming/ALP-listings/chapter-3/fork-exec
linux/advanced-linux-programming/ALP-listings/chapter-3/print-pid
linux/advanced-linux-programming/ALP-listings/chapter-3/sigchld
linux/advanced-linux-programming/ALP-listings/chapter-3/sigusr1
linux/advanced-linux-programming/ALP-listings/chapter-3/system
linux/advanced-linux-programming/ALP-listings/chapter-3/zombie
linux/advanced-linux-programming/ALP-listings/chapter-4/detached
linux/advanced-linux-programming/ALP-listings/chapter-4/primes
linux/advanced-linux-programming/ALP-listings/chapter-4/thread-create
linux/advanced-linux-programming/ALP-listings/chapter-4/thread-create2
linux/advanced-linux-programming/ALP-listings/chapter-4/thread-pid
linux/advanced-linux-programming/ALP-listings/chapter-4/tsd
linux/advanced-linux-programming/ALP-listings/chapter-5/dup2
linux/advanced-linux-programming/ALP-listings/chapter-5/mmap-read
linux/advanced-linux-programming/ALP-listings/chapter-5/mmap-write
linux/advanced-linux-programming/ALP-listings/chapter-5/pipe
linux/advanced-linux-programming/ALP-listings/chapter-5/popen
linux/advanced-linux-programming/ALP-listings/chapter-5/shm
linux/advanced-linux-programming/ALP-listings/chapter-5/socket-client
linux/advanced-linux-programming/ALP-listings/chapter-5/socket-inet
linux/advanced-linux-programming/ALP-listings/chapter-5/socket-server
linux/advanced-linux-programming/ALP-listings/chapter-6/cdrom-eject
linux/advanced-linux-programming/ALP-listings/chapter-7/clock-speed
linux/advanced-linux-programming/ALP-listings/chapter-7/get-exe-path
linux/advanced-linux-programming/ALP-listings/chapter-7/get-pid
linux/advanced-linux-programming/ALP-listings/chapter-7/open-and-spin
linux/advanced-linux-programming/ALP-listings/chapter-7/print-arg-list
linux/advanced-linux-programming/ALP-listings/chapter-7/print-environment
linux/advanced-linux-programming/ALP-listings/chapter-7/print-uptime
linux/advanced-linux-programming/ALP-listings/chapter-8/check-access
linux/advanced-linux-programming/ALP-listings/chapter-8/copy
linux/advanced-linux-programming/ALP-listings/chapter-8/itimer
linux/advanced-linux-programming/ALP-listings/chapter-8/limit-cpu
linux/advanced-linux-programming/ALP-listings/chapter-8/lock-file
linux/advanced-linux-programming/ALP-listings/chapter-8/mprotect
linux/advanced-linux-programming/ALP-listings/chapter-8/print-symlink
linux/advanced-linux-programming/ALP-listings/chapter-8/print-uname
linux/advanced-linux-programming/ALP-listings/chapter-8/sysinfo
linux/advanced-linux-programming/ALP-listings/chapter-9/bit-pos-asm
linux/advanced-linux-programming/ALP-listings/chapter-9/bit-pos-loop

