# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled specific files for Advanced Linux Programming Sample Code
src/linux/advanced-linux-programming/ALP-listings/appendix-a/calculator
src/linux/advanced-linux-programming/ALP-listings/appendix-a/hello
src/linux/advanced-linux-programming/ALP-listings/appendix-a/malloc-use
src/linux/advanced-linux-programming/ALP-listings/appendix-b/create-file
src/linux/advanced-linux-programming/ALP-listings/appendix-b/hexdump
src/linux/advanced-linux-programming/ALP-listings/appendix-b/listdir
src/linux/advanced-linux-programming/ALP-listings/appendix-b/lseek-huge
src/linux/advanced-linux-programming/ALP-listings/appendix-b/timestamp
src/linux/advanced-linux-programming/ALP-listings/appendix-b/write-args
src/linux/advanced-linux-programming/ALP-listings/chapter-1/main
src/linux/advanced-linux-programming/ALP-listings/chapter-10/pam
src/linux/advanced-linux-programming/ALP-listings/chapter-10/setuid-test
src/linux/advanced-linux-programming/ALP-listings/chapter-10/simpleid
src/linux/advanced-linux-programming/ALP-listings/chapter-10/stat-perm
src/linux/advanced-linux-programming/ALP-listings/chapter-11/server
src/linux/advanced-linux-programming/ALP-listings/chapter-2/app
src/linux/advanced-linux-programming/ALP-listings/chapter-2/arglist
src/linux/advanced-linux-programming/ALP-listings/chapter-2/client
src/linux/advanced-linux-programming/ALP-listings/chapter-2/getopt_long
src/linux/advanced-linux-programming/ALP-listings/chapter-2/print-env
src/linux/advanced-linux-programming/ALP-listings/chapter-3/fork
src/linux/advanced-linux-programming/ALP-listings/chapter-3/fork-exec
src/linux/advanced-linux-programming/ALP-listings/chapter-3/print-pid
src/linux/advanced-linux-programming/ALP-listings/chapter-3/sigchld
src/linux/advanced-linux-programming/ALP-listings/chapter-3/sigusr1
src/linux/advanced-linux-programming/ALP-listings/chapter-3/system
src/linux/advanced-linux-programming/ALP-listings/chapter-3/zombie
src/linux/advanced-linux-programming/ALP-listings/chapter-4/detached
src/linux/advanced-linux-programming/ALP-listings/chapter-4/primes
src/linux/advanced-linux-programming/ALP-listings/chapter-4/thread-create
src/linux/advanced-linux-programming/ALP-listings/chapter-4/thread-create2
src/linux/advanced-linux-programming/ALP-listings/chapter-4/thread-pid
src/linux/advanced-linux-programming/ALP-listings/chapter-4/tsd
src/linux/advanced-linux-programming/ALP-listings/chapter-5/dup2
src/linux/advanced-linux-programming/ALP-listings/chapter-5/mmap-read
src/linux/advanced-linux-programming/ALP-listings/chapter-5/mmap-write
src/linux/advanced-linux-programming/ALP-listings/chapter-5/pipe
src/linux/advanced-linux-programming/ALP-listings/chapter-5/popen
src/linux/advanced-linux-programming/ALP-listings/chapter-5/shm
src/linux/advanced-linux-programming/ALP-listings/chapter-5/socket-client
src/linux/advanced-linux-programming/ALP-listings/chapter-5/socket-inet
src/linux/advanced-linux-programming/ALP-listings/chapter-5/socket-server
src/linux/advanced-linux-programming/ALP-listings/chapter-6/cdrom-eject
src/linux/advanced-linux-programming/ALP-listings/chapter-7/clock-speed
src/linux/advanced-linux-programming/ALP-listings/chapter-7/get-exe-path
src/linux/advanced-linux-programming/ALP-listings/chapter-7/get-pid
src/linux/advanced-linux-programming/ALP-listings/chapter-7/open-and-spin
src/linux/advanced-linux-programming/ALP-listings/chapter-7/print-arg-list
src/linux/advanced-linux-programming/ALP-listings/chapter-7/print-environment
src/linux/advanced-linux-programming/ALP-listings/chapter-7/print-uptime
src/linux/advanced-linux-programming/ALP-listings/chapter-8/check-access
src/linux/advanced-linux-programming/ALP-listings/chapter-8/copy
src/linux/advanced-linux-programming/ALP-listings/chapter-8/itimer
src/linux/advanced-linux-programming/ALP-listings/chapter-8/limit-cpu
src/linux/advanced-linux-programming/ALP-listings/chapter-8/lock-file
src/linux/advanced-linux-programming/ALP-listings/chapter-8/mprotect
src/linux/advanced-linux-programming/ALP-listings/chapter-8/print-symlink
src/linux/advanced-linux-programming/ALP-listings/chapter-8/print-uname
src/linux/advanced-linux-programming/ALP-listings/chapter-8/sysinfo
src/linux/advanced-linux-programming/ALP-listings/chapter-9/bit-pos-asm
src/linux/advanced-linux-programming/ALP-listings/chapter-9/bit-pos-loop

# Compiled specific files for Makefiles-by-example Sample Code
makefile/makefile-by-examples/hello
